body {
    --fsMenu: calc(3vw + 3vh);
    --padMenu: calc(.125vw + .125vh);
    --paddingTop1: calc(6vw + 6vh);
    --qrWidth: calc(35vh);}

button { font-size:var(--fsMenu); padding:var(--padMenu);}
    #nUp2 {z-index:1;position:absolute; top:calc(var(--paddingTop1)); right:0;scale:.7;}
    #nNt2 {z-index:1;position:absolute; right:0; bottom:0;scale:.7;}
    #nUp3 {z-index:1;position:absolute; top:calc(var(--paddingTop1)); right:-102vw;scale:.7;}
    #nNt3 {z-index:1;position:absolute; right:-102vw; bottom:0;scale:.7;}
    #nSv {z-index:1;position:fixed; top:calc(var(--paddingTop1)); left:0;scale:.7;}
.pageNo { font-size:var(--fsMenu); padding:var(--padMenu);display:none; text-align:center;width:2em;}
.disabled { opacity: 0.5; pointer-events: none;}
.bookControls { position: fixed; top: 1vh; left: 1vw;}
.bookParent { position: relative;overflow:auto; -webkit-overflow-scrolling:touch; padding-top:calc(1 * var(--paddingTop1));}
.shareParent { display:none;z-index:1;padding-top:calc(1 * var(--paddingTop1)) }
.tocParent { display:none;z-index:99;padding-top:calc(1 * var(--paddingTop1)) }
.qr { width:var(--qrWidth);}
#_dPlay { position:absolute; inset:0; z-index:3; pointer-events:none; }
#_dPlay a.play { position:absolute; left:1vw; pointer-events:auto; display:block;
    font-size:var(--fsMenu); line-height:1; color:#1db954; text-decoration:none; }
#_dExportTxt { overflow:auto; -webkit-overflow-scrolling:touch; border:1px solid #000;
    width: 210mm;min-height: 297mm;padding: 25mm;margin: 0 auto;box-sizing: border-box;font-size: 12pt;line-height: 1.5}

@media (max-aspect-ratio: 1/1 ) {
    .bookParent, .shareParent, .tocParent { 
        padding-top: calc(2 * var(--paddingTop1));}
    .qr { width: 35vh; }
}

.bookControls.collapsed ~ .bookParent, .bookControls.collapsed ~ .shareParent, .bookControls.collapsed ~ .tocParent { 
    padding-top: 0;}
.bookControls.collapsed ~ .bookParent #nUp2, .bookControls.collapsed ~ .bookParent #nUp3 {
    top: 0;}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
