body { font-family: sans-serif; margin: 0; padding: 2rem; background: #f4f6f8; color: #333; }
header { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; margin-bottom: 1rem; }
h1 { font-size: 1.6rem; margin: 0 0 1rem 0; flex: 1 1 100%; }
#searchInput { padding: 0.5rem 1rem; font-size: 1rem; border: 1px solid #ccc; border-radius: 8px; width: 100%; max-width: 400px; }
h2 { font-size: 1.3rem; color: #2c3e50; border-bottom: 1px solid #ccc; margin-top: 2rem; padding-bottom: 0.2rem; }
h3 { font-size: 1.1rem; color: #34495e; margin-top: 1rem; }
ul { list-style: none; padding: 0; margin: 0.5rem 0 1rem 0; display: flex; flex-wrap: wrap; gap: 1rem; }
li { display: flex; flex-direction: column; align-items: center; background: #fff; padding: 1rem; border-radius: 8px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); width: 40vw; }
iframe { display: flex; flex-direction: row; align-items: center; background: #fff; padding: 1rem; border-radius: 8px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); width: 40vw;height: 60vw; }
a { text-decoration: none; color: #0077cc; font-weight: 500; font-size: larger; }
a:hover { text-decoration: underline; }
button {font-size: 1.5rem;}
.qr-inline { margin-top: 0.8rem; width: auto; height: auto; }
.qr-button-large { margin-top: .5rem; padding: 0.5rem 1rem; font-size: 1rem; background-color: #0077cc; color: white; border: none; border-radius: 6px; cursor: pointer; transition: background-color 0.2s ease; }
.qr-button-large:hover { background-color: #005fa3; }
.hidden { display: none; }
i,i+br {display: none;}
@keyframes rotate { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
    .rotating { display: inline-block; animation: rotate 10s linear infinite; }
@keyframes rotateC { 0% { transform: rotate(360deg); } 100% { transform: rotate(0deg); } }
    .rotatingC { display: inline-block; animation: rotateC 2s linear infinite; }
