@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root { --font-family:'Roboto'; --font-size: medium; --primary-color: #007bff; --secondary-color: #e9f5ff; --dark-secondary-color: #2a2a2a; --dark-bg: #121212; --dark-msg: #1e1e1e; --light-msg: #ffffff; }
* { margin: 0; padding: 0; box-sizing: border-box; font-family: var(--font-family), sans-serif; font-size: var(--font-size); }
.hidden { display: none; }
.bold { font-weight: 700; }
body { display: flex; flex-direction: column; height: 100.3dvh; background-color: var(--light-msg); color: #000;  padding-bottom: 1px}
    body::after {content: "";display: block;height: 1px;}
    body.dark-mode { background-color: var(--dark-bg); color: #fff; }
a { color: var(--light-msg); }
    body.dark-mode a { color: var(--primary-color); }
    a[onclick] {all: unset;cursor: pointer;}
button { padding: 20px 30px; border: none; border-radius: 50%; background: var(--primary-color); color: white; cursor: pointer; }
button:hover { background: var(--primary-color); color: var(--primary-color);}
    body.dark-mode button:hover { background: var(--dark-msg); }
header { padding: 15px; background: var(--primary-color); color: white; display: flex; justify-content: space-between; align-items: center; }
header button { background: white; color: var(--primary-color); border: none; border-radius: 50%; width: 50px; height: 50px; cursor: pointer; }
header button:hover { background: #e0e0e0; }
    body.dark-mode header button:hover { background: var(--dark-msg); }
.menu { position: absolute; top: 50px; right: 2dvw; background: var(--light-msg); color: #000; border: 1px solid #ccc; padding: 10px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); z-index: 1000; width: 80dvw; }
    body.dark-mode .menu { background: var(--dark-msg); color: #fff; border: 1px solid #444; }
.menu-item { cursor: pointer; padding: 10px; border-bottom: 1px solid var(--secondary-color); white-space: nowrap;overflow: hidden;text-overflow: ellipsis; }
    body.dark-mode .menu-item { border-bottom: 1px solid #444; }
.menu-item:hover { background: var(--secondary-color); }
    body.dark-mode .menu-item:hover { background: var(--dark-secondary-color); }
main { flex: 1; overflow-y: auto; padding: 20px; display: flex; flex-direction: column; gap: 15px; background: var(--light-msg); }
body.dark-mode main { background: var(--dark-bg); }
.row { display: flex; align-items: flex-start; gap: 10px; }
.sent { justify-content: flex-start; }
.received { justify-content: flex-end; }
.info { justify-content: center; }
.icon { height: 60px; cursor: pointer; }
    body.dark-mode .icon { filter: brightness(0) invert(1); }
    .dice { height: 18px; }
    .space { height: 30dvh; width: 1px }
.msg { max-width: 70%; padding: 10px; border-radius: 10px; }
.sent .msg { background: var(--secondary-color); color: var(--primary-color); border-top-right-radius: 0;}
    body.dark-mode .sent .msg { background: var(--dark-msg); color: var(--primary-color); }
.received .msg { background: var(--primary-color); color: white; border-top-left-radius: 0; }
    body.dark-mode .received .msg { background: var(--primary-color); color: #fff; }
footer { padding: 10px; background: #f1f1f1; display: flex; gap: 10px; align-items: center; border-top: 1px solid #ccc; }
    body.dark-mode footer { background: var(--dark-msg); border-top: 1px solid #444; }
input { flex: 1; padding: 10px; border-radius: 20px; border: 1px solid #ccc; background: var(--light-msg); resize: none; height: auto; width: 100%;}
    body.dark-mode input { background: var(--dark-msg); border: 1px solid #444; color: white; }
textarea { flex: 1; width: 100%; padding: 6px 5px 7px; border-radius: 10px; border: 1px solid #ccc; background: var(--light-msg); resize: none; height: auto; overflow-y: auto; max-height: 4.6em; min-height: 1.6em; line-height: 1; }
    body.dark-mode textarea { background: var(--dark-msg); border: 1px solid #444; color: white; }
button { padding: 10px 20px; border: none; border-radius: 50%; background: var(--primary-color); color: white; cursor: pointer; }
button:hover { background: var(--primary-color); }
    .forslag {padding: 10px 10px; border-radius: 25%; border-style: dashed; overflow: hidden; font-style: italic; cursor: pointer;
        display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 4; line-clamp: 3;}
    .suggest { position: absolute; left: 45%; transform: translateX(-50%); bottom: 44px; background: #ccc; border-top: 1px solid #ccc; padding: 7px 14px; z-index: 100; }

@keyframes rotate { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
    .rotating { display: inline-block; animation: rotate 10s linear infinite; }
@keyframes rotateC { 0% { transform: rotate(360deg); } 100% { transform: rotate(0deg); } }
    .rotatingC { display: inline-block; animation: rotateC 2s linear infinite; }
.save { cursor: pointer; }
